{% if material_list %}
    <table>
    {% for material in material_list %}
        <tr>
            <td><a href="{% url 'recipe_viewer:material_view' material.id %}">{{ material.name_str }}</a></td>
            <td><a href="{% url 'recipe_viewer:material_edit_view' material.id %}">Edit</a></td>
            <td><a href="{% url 'recipe_viewer:material-delete-view' material.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No materials exist</p>
{% endif %}
<a href="{% url 'recipe_viewer:material_create_view' %}">Create Material</a>
